.navbar-container{
border-top: 3px solid rgba(255, 255, 255, 0);
display: flex;
justify-content: space-evenly;
/* background-color: #0f62fe; */
background-color: rgb(255, 255, 255);
font-weight: normal;
}

.navbar-left{
    padding: 15px;
    cursor: default;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.navbar-right{
    display: flex;
}

.nav-item{
    padding: 15px;
}

.nav-item{
    color: #393939;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: .2s ease-in-out;
}

.nav-item:hover{
    background-color: #e8f0ff;
    color: #0f62fe;
    border-bottom: 3px solid #0f62fe;
}

@media only screen and (max-width: 700px) {
    .navbar-right{
        display: none;
    }
}

/*profile specific*/

.profile{
    color: #f4f4f4;
    background-color: #393939;
    display: flex;
    height: 100%;
}

.profile-left, .profile-right{
    width: 50vw;
}

.profile-left{
    padding: 32px;
}

.profile-left h3{
font-size: 50px;
font-weight: 1;
}

.profile-right img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*
Containers
*/

.container{
    height: 500px;
    background-color: #f1f4f8;
    font-weight: 600;
}