.navbar-container{
border-top: 3px solid rgba(255, 255, 255, 0);
display: flex;
justify-content: space-evenly;
/* background-color: #0f62fe; */
background-color: rgb(255, 255, 255);
}

.navbar-left{
    padding: 15px;
    cursor: default;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.navbar-right{
    display: flex;
}

.nav-item{
    padding: 15px;
}

.nav-item{
    color: #393939;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: .2s ease-in-out;
}

.nav-item:hover{
    background-color: #e8f0ff;
    color: #0f62fe;
    border-bottom: 3px solid #0f62fe;
}

@media only screen and (max-width: 700px) {
    .navbar-right{
        display: none;
    }
}

/*profile specific*/

.profile{
    color: #f4f4f4;
    background-color: #393939;
    display: flex;
    height: 100%;
}

.profile-left, .profile-right{
    width: 50vw;
}

.profile-left{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-left h3{
font-size: 50px;
font-weight: 200;
color: #efefef;
}

.profile-left h5{
    margin-bottom: 13px;
    font-size: 19px;
    color: #c9c9c9e3;
}

.profile-left button{
    border: none;
    font-family: IBM Plex Sans;
    font-size: 15px;
    background-color: #0362ff;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.profile-left button:hover{
    background-color: #004ddb;
}

.profile-left p{
    width: 100%;
    text-align: center;
}

.profile-right img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 300rem;
    border-left: 10px solid #f4f4f4;
    border-bottom: 3px solid #f4f4f4;
}

@media only screen and (max-width: 1000px) {

    .profile{
        flex-direction: column;
        place-items: center;
    }
    .profile-right img{
        height: 290px; 
        border-left:0px;
        border-right: 5px solid #f4f4f4;     
    }
    .profile-left h3{
        font-size: 30px;
    }
}

@media only screen and (max-width: 570px) {

    .profile-right img{
        height: 100%; 
        border-left:0px;
        border-right: 5px solid #f4f4f4;     
    }

}
/*
Containers
*/

.container{
    height: 500px;
    background-color: #f1f4f8;
}