.navbar-container{
border-top: 3px solid rgba(255, 255, 255, 0);
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
/* background-color: #0f62fe; */
background-color: rgb(255, 255, 255);
}

.navbar-left{
    padding: 15px;
    cursor: default;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.navbar-right{
    display: flex;
}

.nav-item{
    padding: 15px;
}

.nav-item{
    color: #393939;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.nav-item:hover{
    background-color: #e8f0ff;
    color: #0f62fe;
    border-bottom: 3px solid #0f62fe;
}

/* @media only screen and (max-width: 700px) {
    .navbar-right{
        display: none;
    }
} */

/*profile specific*/

.profile{
    color: #f4f4f4;
    background-color: #393939;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.profile-left{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-left h3{
font-size: 50px;
font-weight: 200;
color: #efefef;
}

.profile-left h5{
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 19px;
    color: #c9c9c9e3;
}

.profile-left button{
    border: none;
    font-family: IBM Plex Sans;
    font-size: 15px;
    background-color: #0362ff;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.profile-left button:hover{
    background-color: #004ddb;
}

.profile-left p{
    width: 100%;
    text-align: center;
}

.profile-right img{
    object-fit: contain;
    height: 400px;
    border-radius: 300rem;
    border-top: 1px solid #f4f4f48f;
    border-bottom: 1px solid #f4f4f493;
}

/* @media only screen and (max-width: 900px) {

    .profile{
        flex-direction: column;
        place-items: center;
    }
    .profile-right img{
        border-left:0px;
        border-bottom:0px ;
        border-top: 1px solid #f4f4f4;      
    }
    
    .profile-left h3{
        font-size: 30px;
    }
} */

/*
Containers
*/

.container{
    background-color: #fff;
}

.odd-container{
    background-color: #f1f4f8;
}

h4{
    color: #262626;
    font-weight: 500;
    font-size: 17px;
}

.card-space{
    padding: 32px;
    display: flex;
    flex-wrap:wrap;
}

.void-card{
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card{
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f1f4f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.odd-card{
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img{
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.odd-card img{
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.card-detail{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-detail h4{
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-detail p{
    padding-bottom: 10px;
    color: #525252;
}

.card-detail button{
    border: none;
    font-family: IBM Plex Sans;
    font-size: 15px;
    background-color: #0362ff;
    margin-left: 10px;
    color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.card-detail button:hover{
    background-color: #004ddb;
}

.card-detail .bottom{
   text-align: right;
}

.progress-back{
    height: 32px;
    background-color: lightgray;
}

.progress-bar{
    height: 100%;
    background-color: #0362ff;
}