.navbar-container{
border-top: 3px solid rgba(255, 255, 255, 0);
display: flex;
justify-content: space-evenly;
/* background-color: #0f62fe; */
background-color: rgba(237, 240, 245, 0.527);
}

.navbar-left{
    padding: 15px;
    cursor: default;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.navbar-right{
    display: flex;
}

.nav-item{
    padding: 15px;
}

.nav-item{
    color: rgb(58, 58, 58);
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: .2s ease-in-out;
}

.nav-item:hover{
    background-color: #e8f0ff;
    color: #0f62fe;
    border-bottom: 3px solid #0f62fe;
}