.profile-container{
    height: 250px;
    background-color: #e1eaff;
    display: flex;
    justify-content: space-between;
}

.profile{
    padding-top: 75px;
    padding-left: 20vw;
    font-size: 30px;
}

.profile p{
    color: #0f62fe;
}

.profile-info img{
    padding-top: 150px;
    width: 200px;
}