.projects-container{
    background-color: #e1eaffd5;
    padding: 20px;
}

.projects-container .heading{
    color: #0f62fe;
    font-size: 30px;
    border: 2px solid #0f62fe;
    border-bottom: 0px;
    width: fit-content;
    padding: 10px;
}

.projects-container .data{
    padding: 10px;
    border-left: 2px solid #0f62fe;
    border-bottom: 2px solid #0f62fe;
}

.project{
background: white;
color: #0f62fe;
margin-top: 20px;
display: flex;
height: 280px;
border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
    .project{
        flex-direction: column;
        height: fit-content;
    }
    .projects-container{
        padding: 0;
    }
    .project{
        object-fit: contain;
    }
    .project img{
        width: 100%;
    }
}

.project .project-left{
    padding: 30px;
}

.project .button-set{
    display: flex;
    justify-content: left;
    padding-top: 10px;
}


.project p{
    text-align: left;
    font-size: small;
    color: black;
}

.project img{
    height: 100%;
}

.button-set button{
    border: 2px solid white;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    margin-top: 0px;
    background: rgb(194, 194, 194);
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    font-family: IBM Plex Mono;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button-set button:hover{
    border: 2px solid #0f62fe;
    background: #0f62fe;
    color: white;
}
